html {
    margin: 0;
    min-height: 100vh;
    width: 100%
    }

    .item-top {
        grid-area: toparea;
      }
    .item-panels {
        grid-area: panels;
        display: flex;
        width: 100vw;
        justify-items: center;
        justify-content: space-between;
      }
    /* .imgtext {
      position: absolute;
      background-color: rgb(255, 255, 255, .8);
      font-size: 4.5vmin;
      padding: 1vmin;
      top: 55vh;
      color: rgb(0, 139, 253, 1);
    } */

      .item-button {
        grid-area: button;
        background-color: rgba(0,43,38, 0.445);
        display: flex;
        justify-content: center;
      }

      .item-rating {
        grid-area: rating;
        display: flex;
        background-color: rgba(0,43,38, 0.445);
        justify-content: center;
        justify-items: center;
        overflow: hidden;
      }

      .item-feedback {
        grid-area: feedback;
        color:white; 
        background-color: rgba(0,43,38);
      }
      
      .container {
        margin:0;
        display: grid;
        grid-template-columns: auto; 
        grid-template-rows: 5% 70% 5% 10% 20%;
        background-image: url("media/spooky.png");
        background-repeat: repeat no-repeat;
        background-size: cover;  
        width: 100%;
        min-height: 100vh;  
        grid-template-areas: 
          "toparea"
          "panels"
          "button"
          "rating"
          "feedback";
      }

      .panel {
          background-color: transparent;
          width: 20vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
      }


      #panel1 {
          margin-left: 10vw;
      }

      #panel4 {
        margin-right: 10vw;
    }

    .panelimg{
        background-size: cover;
        background-repeat: no-repeat;
        border: solid rgb(220, 220, 220); 
        height: 73%;
        width: 100%;
    }

    #img1 {
        background-image: url("media/Characters/Gacha-Splashes/Xiao.png");
    }

    #img2 {
       background-image: url("media/Characters/Gacha-Splashes/Albedo.png"); 
    }

    #img3 {
       background-image: url("media/Characters/Gacha-Splashes/Kazuha.png"); 
    }

    #img4 {
      background-image: url("media/Characters/Gacha-Splashes/Qiqi.png");   
    }

    #rating-img {
      width: 38vmin;
      display: none;
    }

  .dropbtn {
      background-color: rgb(179, 193, 201);
      border:none; 
      cursor:pointer; 
      padding-right: 2vmin;
      padding-left: 2vmin;
    }

	.panel{
		font-family:'Benne', 'Times New Roman', serif;
	}
    .dropdown{ 
      display: inline-block; 
	  position:relative;
	  width: 80%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
	  background-color:#fff;
	  margin:10% 0;
	  color:#000;
	  text-align:center;
	  border: 1px solid #000;
    }

    .dropdown-block{  
	  position:absolute;
      z-index: 1; 
	  width:100%;
	  background-color:#fff;
	  display:none;
		overflow-y:scroll;
		height: 400%; 
    }

    .dropdown-text{ 
      color:black; 
      padding: 12px 16px; 
      text-decoration:none; 
      display:block; 
    }

    .dropdown-text:hover{ 
      background-color:rgb(128, 163, 144);
    }

    .dropdown:hover .dropdown-block{ 
        display:block; 
    }

    .dropdown:hover .dropbtn{ 
      background-color: rgb(47, 124, 163);
    }

    #calcbtn {
      color: rgb(4, 67, 99);
      background-color: rgba(224, 224, 224, 1);
      border-radius: 1vmin;
      border: none;
    }
	
	.role_name{
    margin: none;
		 /* margin: 10%; commented out for better mobile experience*/
	}
	.selected{
		margin:5%;
	}
	.options{
		padding:0;
    margin:0;
	}
	.char_name{
    list-style-type:none;
    margin: 0;
    padding: 5% auto;
    border: none;
	}
	
	.options button{
		font-family:'Benne', 'Times New Roman', serif;
		width: 100%;
    background: transparent;
    border:  none;
	}
  
  li:hover{
    background-color: rgb(231, 231, 231);
  }

  #calcbtn:hover {
    background-color: rgb(190, 190, 190);
  }